@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #663dafc7, #ff47006e);
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  margin: 100px auto;
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: none;
}
.calculator-grid > button:hover {
    box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 20%);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  border-radius: 5px 5px 0 0;
}

.output .previous-operand {
  color: #E897A3;
  font-size: 1.5rem;
}
.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
.primary-color-one {
    background: #A56FE4;
}
.primary-color-two {
    background: #A16CE1;
}
.primary-color-three {
    background: #9D68DE;
}
.primary-color-four {
    background: #9961DE;
}
.secondary-color {
    background: #F74D9A;
}
.gray-color {
  background: linear-gradient(120deg, #ffffff 0%, #e4e4e4 100%);
}
.text-white{
    color: #FFFFFF;
}
.bottom-radius-left{
    border-radius: 0 0 0 5px ;
}
.bottom-radius-right{
    border-radius: 0 0 5px 0 ;
}
